.task-input {
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    @include shadow;
    width: 100%;
}
button {
    border: none;
    background: white;
    cursor: pointer;
}
.task-button {
    @include shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: .25rem;
    background: $base;
    // margin-left: 1rem;
}
.completed-btn {
    border-radius: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.delete-btn {
    color: $Light-Red;
}

ul li {
    background: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    @include shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .container {
        position: relative;
        padding-left: 2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .checkmark {
            height: 1rem;
            width: 1rem;
            background: $base;
            position: absolute;
            left: 0;
            border-radius: .3rem;
            &::after {
                content: "";
                position: absolute;
                left: .2rem;
                bottom: .1rem;
                width: .36rem;
                height: 1rem;
                border: solid green;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                display: none;
            }
        }
    }
    .container input:checked ~ .checkmark::after {
        display: block;
    }
}