input {
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    @include shadow;
    width: 100%;
}
button {
    @include shadow;
    border: none;
    background: white;
    padding: 1rem;
    cursor: pointer;
}
button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
}
.completed-btn {
    border-radius: 2rem;
    margin-bottom: 1rem;
}

ul li {
    background: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    @include shadow;
}