main {
    @include wide-container;
    .input-container {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}