header {
    @include wide-container;
    padding: 2rem 0;
}
main {
    @include wide-container;
    .input-container {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 1rem;
        width: 100%;
        &__upper {
            button {
                width: 100%;
            }
        }
        &__lower {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}